[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "==0.13.13"
flask = "*"
flask-sqlalchemy = ">=3.1.0"
sqlalchemy = ">=2.0.0"
Werkzeug = ">=2.3.0"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-cors = "*"
faker = "*"
pyjwt = "*"

[requires]
python_version = "3.13"

[dev-packages]
